@font-face {
  src: url(Fonts/Novello_Pro_Normal.otf);
  font-family: novello;
}

@font-face {
  src: url(Fonts/Antaro.ttf);
  font-family: antaro;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: antaro;
}

#root {
  height: 100%;
  width: 100%;
}

#app-content {
  display: grid;
  grid-template: 1fr 8fr 1fr / 2fr 1fr;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */

  height: 100%;
  width: 100%;
}

nav,
footer {
  grid-column-end: span 2;
  /* place-self: center; */
  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */

  height: 100%;
  width: 100%;
}

nav {
  background: linear-gradient(#190a04, #002859);
}

nav p {
  color: white;
}

#p1,
#p5,
#p7,
#p10 {
  align-self: flex-end;
}

#p2,
#p6,
#p9,
#p13,
#p29 {
  align-self: center;
}

footer {
  justify-content: space-evenly;
  background: linear-gradient(#e9c46a, #220d04 50%);
}

footer p {
  color: #e9c46a;
}

#p15,
#p18,
#p21,
#p22,
#p23,
#p26,
#p28 {
  align-self: flex-end;
  font-size: 1.5em;
}

#p16,
#p17,
#p19,
#p20,
#p24,
#p25,
#p27 {
  align-self: center;
  font-size: 1.5em;
}

a {
  align-self: center;

  /* margin: 1% 2% 1% 0; */
  text-decoration: none;
  color: #ebe9e9;
  font-size: 1.5em;
}

/* a:last-child {
  margin-right: 0;
} */

a:hover {
  cursor: pointer;
}

footer a {
  font-size: 2em;
}

.active {
  color: #e9c46a;
}

main {
  grid-column-end: span 2;
  align-self: stretch;
  justify-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
  background: linear-gradient(#002859, #1d3557, #6667ab, #ffa69e, #e9c46a);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
  display: none; /*Chrome */
}

/* ///////////////   home page below   ////////////////////////// */

#home {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

#blurb,
#proj-container {
  height: 100%;
}

#blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 56%;
  font-size: 2.5em;
}

#proj-container {
  display: grid;
  grid-template-columns: 10% 90%;
  /* align-items: center;
  justify-content: center; */

  width: 44%;
}

#featured-projects {
  grid-column-start: 1;
  align-self: stretch;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  transform: rotate(-180deg);
  translate: 180deg;

  height: 100%;
  width: 100%;
  writing-mode: vertical-lr;
}

#featured-projects h3 {
  font-size: 3em;
  margin-bottom: 2%;
  color: rgba(234, 53, 70, 0.5);
}

#featured-projects svg {
  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotate(90deg);
  font-size: 3.5em;
  color: rgba(234, 53, 70, 0.3);
}

#featured-projects svg:first-of-type {
  animation: blink-start 3s infinite;
  -webkit-animation: blink-start 3s infinite;
}

#featured-projects svg:nth-of-type(2) {
  animation: blink-middle 3s infinite;
  -webkit-animation: blink-middle 3s infinite;
}

#featured-projects svg:last-of-type {
  animation: blink-end 3s infinite;
  -webkit-animation: blink-end 3s infinite;
}

@keyframes blink-start {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink-start {
  0% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink-middle {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink-middle {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  66% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink-end {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes blink-end {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#card-container {
  display: flex;
  /* grid-template-rows: 1fr;
  justify-items: center; */
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;

  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#card-container::-webkit-scrollbar {
  display: none; /*Chrome */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 95%;
  width: 100%;
  /* border: 1px solid black; */
  margin-bottom: 10%;
}

.card:last-child {
  margin-top: 5%;
}

.card:first-child,
.card:last-child {
  margin: 5% 0;
}

/* .image-container {
  border-radius: 0.5em;
  box-shadow: 0 0 0.9em #ea3546;
} */

/* .image-container, */
.descript-container {
  height: 70%;
  width: 100%;
  cursor: pointer;
}

/* .image-container h2 {
  height: 10%;
  width: 100%;
  text-align: center;
  color: #ebe9e9;
  padding-top: 1%;
}

.image {
  height: 90%;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 0.6em 0.6em;
} */

.sun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 90%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-color: #ea3546;
  opacity: 0.8;
}

.sun h2 {
  color: #ea3546;
  background-color: transparent;
  font-size: 5em;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.2),
    1px -1px 0 rgba(0, 0, 0, 0.2), -1px -1px 0 rgba(0, 0, 0, 0.2);
}

.sun h3 {
  width: 60%;
  text-align: center;
  font-size: 1.2em;
}

.sun a,
.descript-container a,
#pd-test-container a {
  display: flex;
  justify-content: center;

  width: 100%;
}

.sun button,
.descript-container button,
#pd-test-container button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: max-content;
  width: 30%;
  margin-top: 2%;
  border-radius: 1em;
  color: #000;
  border: 0.5px solid #023047;
  background-color: transparent;
  font-size: 0.75em;
  cursor: pointer;
}

.card .descript-container img {
  display: none;
}

.descript-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 90%;
  background-color: white;
  border-radius: 50%;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.card .descript-container {
  background-color: #ea3546;
  opacity: 0.8;
  color: #ebe9e9;
}

.description {
  width: 70%;
  line-height: 1.5em;
  padding: 0 2% 0 3%;
  word-break: keep-all;
}

.title {
  margin-bottom: 5%;
}

.tech-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  margin-top: 2%;
  width: 70%;
}

.tech-title {
  margin-bottom: 2%;
}

.card .descript-container .test-user,
.card .descript-container .test-password,
.card .descript-container a {
  display: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 15%;
  width: 100%;
}

.btn-container button {
  height: 50%;
  width: 30%;
  margin: 4% 2% 0 0;
  border-radius: 5px;
  color: #2e282a;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 0.9em #ea3546;
  font-size: 1.6em;
}

.btn-container button:last-child {
  margin-right: 0;
}

.btn-container button:hover {
  cursor: pointer;
}

.btn-container button a {
  height: 100%;
  width: 100%;
  color: #2e282a;
  font-size: 1em;
}

/* ///////////////   about page below   ////////////////////////// */

#about {
  display: grid;
  grid-template: 1fr 1fr 2fr / 1fr 1fr 1fr 1fr;

  width: 100%;
  height: 100%;
  font-size: 1.5em;
  color: #ebe9e9;
  padding: 1% 2%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#about::-webkit-scrollbar {
  display: none; /*Chrome */
}

#about img {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
  place-self: center;

  height: 100%;
  width: 50%;
  border-radius: 1em;
}

#about-tech-title {
  grid-column-start: 2;
  grid-column-end: span 3;
  grid-row-start: 1;
  place-self: center;

  margin-bottom: 2%;
}

#libraries,
#frameworks,
#other-skills {
  word-spacing: 0.2em;
}

#libraries {
  grid-column-start: 2;
  grid-row-start: 2;
}
#frameworks {
  grid-column-start: 3;
  grid-row-start: 2;
}
#other-skills {
  grid-column-start: 4;
  grid-row-start: 2;
}

#libraries h3,
#frameworks h3,
#other-skills h3 {
  padding: 0 2%;
  margin-bottom: 1%;
  text-decoration: underline;
}

#libraries p,
#frameworks p,
#other-skills p {
  padding: 0 2%;
}

#bio-details {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 3% 0;
  /* color: #023047; */
  color: #ebe9e9;
}

#bio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  width: 90%;
  height: 100%;
}

#trips {
  display: grid;
  grid-template: 1fr 1fr 2fr / 1fr 1fr;

  color: #023047;
}

#trips h3 {
  grid-column-end: span 2;
  place-self: center;
}

#us-h {
  grid-column-start: 1;
  grid-row-start: 2;
  place-self: center;
}

#international-h {
  grid-column-start: 2;
  grid-row-start: 2;
  place-self: center;
}

#trips p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  word-spacing: 0.2em;
}

/* ///////////////   contact page below   ////////////////////////// */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

label,
input,
textarea {
  height: 7%;
  width: 40%;
  font-size: 2em;
  color: #ebe9e9;
}

label {
  margin-top: 2%;
}

label:first-of-type {
  margin-top: 0;
}

input,
textarea {
  color: #023047;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.5em;
  border: none;
  border-radius: 1em;
  padding: 1% 1%;
}

textarea {
  height: 40%;
}

form button {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.5em;
  border: none;
  border-radius: 1em;
  width: max-content;
  padding: 1% 2%;
  margin: 1% 0;
}

/* ///////////////   project page below   ////////////////////////// */

#projects-page {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  height: 100%;
  width: 95%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#projects-page::-webkit-scrollbar {
  display: none; /*Chrome */
}

#projects-page h1 {
  font-size: 2em;
  width: 100%;
  height: 5%;
  text-align: center;
  color: #ebe9e9;
}

#proj-pg-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 45%;
  height: 100%;
  margin-top: 2%;
}

#proj-pg-container .descript-container {
  display: grid;
  grid-template: 10% 50% 40% / 55% 45%;
  align-content: center;
  justify-items: center;

  height: 90%;
  width: 100%;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.4);
}

#proj-pg-container:nth-child(even) {
  margin-right: 5%;
}

#proj-pg-container:last-child {
  margin-bottom: 2%;
}

#proj-pg-container .descript-container .title {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  margin: 0;
}

#proj-pg-container .descript-container img {
  grid-column-start: 1;
  grid-row-start: 2;
  place-self: center;
  /* align-self: flex-start;
  justify-self: center; */

  width: 95%;
  height: 90%;
  border-radius: 1em;
  margin-left: 3%;
}

#proj-pg-container .descript-container .description {
  grid-column-start: 2;
  grid-row-start: 2;
  place-self: center;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 3%;
  height: 100%;
  width: 92%;
  margin-right: 3%;
}

#proj-pg-container .descript-container .tech-container {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;

  margin: 0;
  /* justify-self: center;
  align-self: start; */
  place-self: center;
}

.test-user {
  margin-top: 1.5%;
  width: 60%;

  border-top: 1px solid black;
}

#proj-pg-container .btn-container {
  height: 10%;
  width: 100%;
}

#proj-pg-container .btn-container button {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.25em;
  margin: 0 2% 0 0;
}

#proj-pg-container .btn-container button:last-child {
  margin-right: 0;
}

/* ///////////   project details styling below  /////////// */

#project-details-pg {
  height: 100%;
  width: 100%;
}

#proj-det-pg-container {
  display: grid;
  grid-template: 0.5fr repeat(3, 1fr) / repeat(3, 1fr);
  place-items: center;

  height: 100%;
  width: 100%;
}

#pd-title {
  grid-column-end: span 3;

  font-size: 3em;
  color: #ebe9e9;
}

#pd-img-tech {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;

  display: flex;
  justify-content: space-around;

  width: 100%;
  padding: 0 2%;
}

#project-details-pg img {
  height: 15em;
  width: 30em;
  border-radius: 1em;
}

#pd-tech-container,
#pd-test-container,
#pd-future-updates,
#pd-challenges-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ebe9e9;
}

#pd-tech-container {
  align-self: center;

  width: 45%;
  margin-left: 5%;
}

#pd-tech-title {
  font-size: 2em;
}

#pd-tech {
  font-size: 1.5em;
}

#pd-description {
  grid-column-end: span 3;

  font-size: 2em;
  padding: 0 2%;
  color: #023047;
}

#pd-bottom-row {
  grid-column-end: span 3;
  display: flex;
  justify-content: space-evenly;

  width: 100%;
}

#pd-test-container,
#pd-future-updates,
#pd-challenges-container {
  width: 30%;
}

#pd-test-user {
  width: 100%;
  font-size: 1.5em;
}
#pd-test-password,
#pd-test-container a {
  width: 100%;
  font-size: 1.25em;
}

#pd-test-container a {
  justify-content: flex-start;
}

#pd-test-container,
#pd-future-updates,
#pd-challenges-container {
  color: #023047;
  /* align-self: flex-start; */
}

#pd-future-updates ul,
#pd-challenges-container ul {
  font-size: 1.5em;
  margin-top: 1%;
}

#pd-test-title,
#pd-update-title,
#pd-challenges-title {
  font-size: 1.5em;
}

/* ///////////   resume styling below  /////////// */

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100%;
  width: 100%;
}

#resume a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
}

#resume button {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1em;
  border: none;
  border-radius: 1em;
  width: max-content;
  padding: 1% 2%;
  margin: 1% 0;
}

.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-pdf__Page {
  max-width: calc(100% - 2em);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  margin: 1em;
}

.react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
}

.react-pdf__message {
  padding: 20px;
  color: white;
}

/* ///////////   general styling above  /////////// */

@media only screen and (max-height: 660px) {
  #featured-projects h3 {
    writing-mode: vertical-rl;
  }
}

@media only screen and (max-width: 1400px) {
  /*  /////////   max 1400 home page below  //////////////// */
  #featured-projects h3 {
    font-size: 2.5em;
  }

  #featured-projects svg {
    font-size: 3em;
  }

  .sun h2 {
    font-size: 3.5em;
  }

  .sun h3 {
    font-size: 1.5em;
    word-spacing: 0.2em;
  }

  .sun button {
    font-size: 1em;
  }

  .card .descript-container .title {
    font-size: 2em;
    margin-bottom: 2%;
  }

  .card .descript-container .description,
  .card .descript-container .tech-container {
    font-size: 1.2em;
  }

  .card .descript-container .description {
    width: 80%;
  }

  .btn-container button {
    font-size: 1.25em;
    width: 22%;
  }

  /*  /////////   max 1400 about page below  //////////////// */
  #about img {
    width: 60%;
  }

  /*  /////////   max 1400 projects page below  //////////////// */
  #proj-pg-container .descript-container {
    grid-template-rows: 10% 50% 40%;
  }

  #proj-pg-container .descript-container .tech-container {
    place-self: center;
  }

  /*  /////////   max 1400 projects details page below  //////////////// */
  #project-details-pg img {
    width: 25em;
  }
}

@media only screen and (max-width: 1330px) {
  /*  /////////   max 1330 home page below  //////////////// */
}

/* ///////////   mobile styling below  /////////// */
@media only screen and (max-width: 850px) {
  #app-content {
    grid-template: 0.5fr 9fr 0.5fr / 1fr;
  }

  /* footer {
    display: none;
  } */

  nav a {
    font-size: 1em;
  }

  footer a {
    align-self: flex-end;

    display: flex;
    align-items: flex-end;

    height: 100%;
    font-size: 1.5em;
    padding-bottom: 1%;
  }

  /* footer a svg {
    margin-bottom: 1%;
  } */

  #home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #blurb {
    justify-content: flex-start;

    width: 100%;
    height: 10%;
    padding: 2% 3% 0 3%;
    font-size: 1em;
    color: #ebe9e9;
  }

  #proj-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  #featured-projects {
    transform: rotate(0);
    translate: 0;
    writing-mode: horizontal-tb;
    height: 10%;
  }

  #featured-projects h3 {
    margin: 0 1%;
    font-size: 1.5em;
  }

  #featured-projects svg:first-of-type {
    order: -1;
  }
  #featured-projects svg:last-of-type {
    display: none;
  }

  #featured-projects svg {
    /* animation: blink 2s infinite;
    -webkit-animation: blink 2s infinite; */
    font-size: 2em;
  }

  /* @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  } */

  #card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 100%;
  }

  .card {
    height: 70%;
  }

  .sun,
  .descript-container {
    height: 80%;
  }

  .sun h2 {
    font-size: 2em;
  }

  .sun h3 {
    font-size: 1.2em;
  }

  .sun h3:last-of-type {
    margin-top: 2%;
  }

  .sun a {
    font-size: 1.3em;
    width: 100%;
  }

  .sun a button {
    width: max-content;
    padding: 1% 3%;
  }

  .card .descript-container .title,
  .descript-container .tech-container {
    display: none;
  }

  .card .descript-container .description {
    width: 80%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: center;
  }

  .btn-container button {
    font-size: 1em;
    padding: 0 2%;
    width: 25%;
  }

  .btn-container button:first-of-type {
    margin-right: 4%;
  }

  .btn-container button:last-of-type {
    margin-left: 2%;
  }

  /*  ///////////////  iphone 12 nav, main, footer, and home above  ////////////*/

  #about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: 1em;
    height: max-content;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  #about::-webkit-scrollbar {
    display: none; /*Chrome */
  }

  #about img {
    height: 20%;
    width: 40%;
    margin: 45% 0 3% 0;
  }

  #about h2 {
    margin-bottom: 1%;
    width: 100%;
    height: 5%;
    text-align: center;
  }

  #about h2:last-of-type {
    color: #023047;
  }

  #bio {
    display: flex;
    align-items: flex-start;

    height: 50%;
    width: 100%;
    padding: 0 4%;
    font-size: 1.25em;
    margin-bottom: 3%;

    color: white;
    /* background: linear-gradient(#eee 7.2%, #212529, #000, #023047);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

  #libraries,
  #frameworks,
  #other-skills {
    font-size: 1.25em;
    width: 100%;
    height: 6%;
    padding: 0 4%;
    color: #023047;
    margin-bottom: 3%;
  }

  /*  //////////////     iphone 12 about above       ////////////*/

  form {
    justify-content: flex-start;
  }

  label,
  input,
  textarea {
    height: 7%;
    width: 85%;
  }

  label,
  label:first-of-type {
    height: max-content;
    margin-top: 4%;
    padding-left: 4%;
  }

  input {
    padding: 1% 3%;
  }

  textarea {
    height: 50%;
    padding: 3% 3%;
  }

  form button {
    margin-top: 4%;
    font-size: 2em;
    padding: 2% 4%;
  }

  /*  //////////////     iphone 12 contact above       ////////////*/

  #projects-page {
    width: 100%;
    padding: 0 2%;
  }

  #projects-page h1 {
    font-size: 1.5em;
  }

  #proj-pg-container {
    width: 100%;
    height: 70%;
    margin-top: 4%;
  }

  #proj-pg-container:nth-child(even) {
    margin-right: 0;
  }

  #proj-pg-container .descript-container {
    grid-template: 2fr 3fr / 3fr 2fr;
    min-height: 90%;
  }

  #proj-pg-container .descript-container img {
    grid-column-start: 1;
    grid-row-start: 1;

    height: 10em;
    margin: 2% 0 0 0;
  }

  #proj-pg-container .descript-container .title {
    grid-column-start: 2;
    grid-row-start: 1;

    text-align: center;
  }

  #proj-pg-container .descript-container .description {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    place-self: center;

    font-size: 1.25em;
  }

  #proj-pg-container .btn-container {
    height: 8%;
    margin: 1% 0;
  }

  #proj-pg-container .btn-container button {
    height: 100%;
    margin: 1% 0 0 0;
  }

  #proj-pg-container .btn-container button:first-of-type {
    margin-right: 1%;
  }
  /*  ///////////////     iphone 12 projects above       ////////////*/
  #proj-det-pg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pd-title {
    margin: 3% 0;
  }

  #project-details-pg img,
  #pd-tech-container,
  #pd-description,
  #pd-test-container,
  #pd-future-updates,
  #pd-challenges-container {
    width: 90%;
    margin-bottom: 5%;
    padding: 0;
  }

  #pd-description {
    order: 1;
    font-size: 1.5em;
    color: #ebe9e9;
  }

  #pd-img-tech {
    order: 2;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #pd-tech-container {
    order: 3;
    color: #023047;
    margin: 2% 0 3% 0;
  }

  #pd-bottom-row {
    order: 4;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pd-tech-title,
  #pd-test-title,
  #pd-update-title,
  #pd-challenges-title {
    font-size: 1.75em;
  }

  #pd-tech, #pd-test-user, #pd-test-password
  /* ,#pd-updates, #pd-challenges */ {
    font-size: 1.25em;
  }

  #pd-test-container a {
    justify-content: center;
    font-size: 1.5em;
  }

  /*  ///////////////     iphone 12 project details above       ////////////*/
  #resume {
    justify-content: space-between;
  }

  #resume a {
    height: 10%;
    width: 90%;
  }

  #resume button {
    padding: 2% 3%;
  }

  .react-pdf__Document {
    height: 90% !important;
    width: 100% !important;
  }

  .react-pdf__Page {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100% !important;
    width: 100% !important;
  }

  .react-pdf__Page__canvas {
    width: 90% !important;
    height: 80% !important;
  }

  .react-pdf__Page__annotations,
  .annotationLayer {
    display: none !important;
  }

  /*  ///////////////     iphone 12 resume above       ////////////*/
}
