* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

#app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

nav,
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 10%;
  width: 100%;
}

a {
  margin: 1% 2% 1% 0;
  text-decoration: none;
  color: black;
}

a:last-child {
  margin-right: 0;
}

a:hover {
  cursor: pointer;
}

main {
  height: 80%;
  width: 100%;
}

#home {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

#blurb,
#proj-container {
  height: 100%;
  width: 50%;
  border: 1px solid black;
}
