* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}

#app-content {
  display: grid;
  grid-template: 1fr 8fr 1fr / 1fr 1fr;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */

  height: 100%;
  width: 100%;
}

nav,
footer {
  grid-column-end: span 2;
  /* place-self: center; */
  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */

  height: 100%;
  width: 100%;
}

nav {
  background: linear-gradient(#190a04, #002859);
}

nav p {
  color: white;
}

#p1,
#p5,
#p7,
#p10 {
  align-self: flex-end;
}

#p2,
#p6,
#p9,
#p13 {
  align-self: center;
}

footer {
  justify-content: space-evenly;
  background: linear-gradient(#e9c46a, #220d04 50%);
}

footer p {
  color: #e9c46a;
}

#p15,
#p18,
#p21,
#p22,
#p23,
#p26,
#p28 {
  align-self: flex-end;
  font-size: 1.5em;
}

#p16,
#p17,
#p19,
#p20,
#p24,
#p25,
#p27 {
  align-self: center;
  font-size: 1.5em;
}

a {
  align-self: center;

  /* margin: 1% 2% 1% 0; */
  text-decoration: none;
  color: #ebe9e9;
  font-size: 1.5em;
}

/* a:last-child {
  margin-right: 0;
} */

a:hover {
  cursor: pointer;
}

footer a {
  font-size: 2em;
}

main {
  grid-column-end: span 2;
  align-self: stretch;
  justify-self: stretch;

  height: 100%;
  width: 100%;
  background: linear-gradient(#002859, #1d3557, #6667ab, #ffa69e, #e9c46a);
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
  display: none; /*Chrome */
}

#home {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

#blurb,
#proj-container {
  height: 100%;
  width: 50%;
  /* border: 1px solid black; */
}

#blurb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#proj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-container {
  display: flex;
  /* grid-template-rows: 1fr;
  justify-items: center; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#card-container::-webkit-scrollbar {
  display: none; /*Chrome */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80%;
  width: 80%;
  /* border: 1px solid black; */
  margin-bottom: 10%;
}

.card:first-child {
  margin-top: 5%;
}

.card:last-child {
  margin-bottom: 5%;
}

.image-container,
.descript-container {
  /* border: 1px solid black; */
  border-radius: 0.5em;
  box-shadow: 0 0 0.7em #08f7fe;
}

.image-container {
  height: 85%;
  width: 100%;
}

.image-container h2 {
  height: 10%;
  width: 100%;
  text-align: center;
  color: #ebe9e9;
  padding-top: 1%;
}

.image {
  height: 90%;
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 0.6em 0.6em;
}

.descript-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 85%;
  width: 100%;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.fbcd.co%2Fproducts%2Fresized%2Fresized-750-500%2F96795d4b9177795d2c06d4c0df5f59a079973bdae52566b9cc481decc7dc7d0c.jpg&f=1&nofb=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.descript-inner-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;

  height: 100%;
  width: 92%;
  background-color: white;
}

.description {
  grid-row-end: span 2;
  justify-self: center;
  align-self: center;
  text-decoration: underline;

  width: 80%;
  line-height: 1.5em;
  margin-left: 2%;
  background-color: white;
}

.title,
.tech-container {
  grid-column-start: 2;
  justify-self: center;

  /* width: 50%; */
}

.title {
  align-self: center;
}

.tech-container {
  align-self: flex-start;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.tech-title {
  margin-bottom: 2%;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 15%;
  width: 100%;
}

.btn-container button {
  height: 80%;
  width: 20%;
  margin: 4% 2% 0 0;
  border-radius: 5px;
  /* color: #ebe9e9; */
  color: #2e282a;
  /* border: 3px solid #ebe9e9; */
  border: none;
  background-color: #ebe9e9;
  box-shadow: 0 0 0.7em #08f7fe;
  font-size: 1em;
}

.btn-container button:last-child {
  margin-right: 0;
}

.btn-container button:hover {
  cursor: pointer;
}

.btn-container button a {
  height: 100%;
  width: 100%;
  color: #2e282a;
  font-size: 1em;
}
